<?xml version="1.0"?>
<!--
/**
 * config.xml
 *  - rewrite and setup models,
 *  - setup blocks,
 *  - define observers
 *
 * @category    Sitewards
 * @package     Sitewards_BigPipe
 * @copyright   Copyright (c) Sitewards GmbH (http://www.sitewards.com)
 * @contact     magento@sitewards.com
 * @license     OSL-3.0
 */
-->
<config>
	<modules>
		<Sitewards_BigPipe>
			<version>0.2.0</version>
		</Sitewards_BigPipe>
	</modules>
	<global>
		<blocks>
			<sitewards_bigpipe>
				<class>Sitewards_BigPipe_Block</class>
			</sitewards_bigpipe>
		</blocks>
		<models>
			<core>
				<rewrite>
					<layout>Sitewards_BigPipe_Model_Core_Layout</layout>
				</rewrite>
			</core>
			<sitewards_bigpipe>
				<class>Sitewards_BigPipe_Model</class>
			</sitewards_bigpipe>
		</models>
		<helpers>
			<sitewards_bigpipe>
				<class>Sitewards_BigPipe_Helper</class>
			</sitewards_bigpipe>
		</helpers>
	</global>
	<frontend>
		<events>
			<controller_front_send_response_before>
				<observers>
					<sitewards_bigpipe>
						<class>Sitewards_BigPipe_Model_Tags</class>
						<method>stripEndTags</method>
					</sitewards_bigpipe>
				</observers>
			</controller_front_send_response_before>
			<controller_front_send_response_after>
				<observers>
					<sitewards_bigpipe>
						<class>Sitewards_BigPipe_Model_Dispatcher</class>
						<method>outputBigPipeBlocks</method>
					</sitewards_bigpipe>
				</observers>
			</controller_front_send_response_after>
		</events>
		<layout>
			<updates>
				<sitewards_bigpipe>
					<file>sitewards/bigpipe.xml</file>
				</sitewards_bigpipe>
			</updates>
		</layout>
	</frontend>
	<default>
		<sitewards_bigpipe_config>
			<sitewards_bigpipe_general>
				<buffer_size>4096</buffer_size>
			</sitewards_bigpipe_general>
		</sitewards_bigpipe_config>
	</default>
</config>